		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}


@font-face { font-family: 'CustomFont'; 
	src: url('Pretendard-Light.otf')
}

body {
    margin: 50px;
    font-family: CustomFont;
   }

h1{
	font-family: CustomFont;
}

.redtext{
	color:red;
}
@media screen and (max-width: 704px) {

}